<ion-header>
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-card
            class="ion-no-margin"
            style="box-shadow: none !important; height: 200px !important;"
            [style.backgroundImage]="'url(' + card.picture + ')'"
            [style.backgroundSize]="'40%'"
            [style.backgroundPosition]="'right center'"
            [style.backgroundRepeat]="'no-repeat'"
          >
            <ion-grid style="height: 100%;">
              <ion-row style="height: 100%;">
                <ion-col class="ion-align-self-end">
                  <ion-title style="font-size: 70px; font-weight: bold;" [color]="card.type">{{card.title}}</ion-title>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card></ion-col
        >
        <ion-col size="auto" class="ion-align-items-end">
          <ion-buttons>
            <ion-button (click)="close()">
              <ion-icon
                [color]="card.type"
                slot="icon-only"
                name="close"
              ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
    block
  </ion-button>
  <ion-card *ngFor="let item of items">
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>
  <!-- <ion-list-header *ngFor="let item of items">
    <ion-label>New This Week</ion-label>
    <ion-button>See All</ion-button>
  </ion-list-header> -->
</ion-content>
