<ion-split-pane contentId="menu-content">
  <!--  our side menu  -->
  <ion-menu contentId="menu-content">
    <ion-header  >
      <ion-toolbar color="primary" class="ion-padding-bottom" style="padding-top: 10px;">
        <ion-label style="text-align: center;"><h1>
          Digital
        </h1>
      <p>
        Library
      </p></ion-label>
      </ion-toolbar>
    </ion-header>
    <ion-content color="primary">
      <ion-list color="primary" style="padding:unset;">
        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let item of menu"
          color="primary"
        >
          <ion-item
            routerDirection="root"
            [routerLink]="item.url"
            [ngStyle]="{'border-left': selectedPath == item.url ? '8px solid var(--ion-color-light)' : '0px'}"
            lines="none"
            color="primary"
          >
            <table align="center">
              <tr>
                <td style="height: 50px; padding-top: 15px;">
                  <ion-label class="ion-text-center"
                    ><ion-icon
                      [name]="item.icon"
                      slot="start"
                      style="zoom: 2.5;"
                      [ngStyle]="{'color': selectedPath == item.url ? 'var(--ion-color-light)' : 'var(--ion-color-light)'}"
                    ></ion-icon
                  ></ion-label>
                </td>
              </tr>

              <tr>
                <td style="padding-bottom: 15px;">
                  <ion-label
                    class="ion-text-center"
                    [ngStyle]="{'color': selectedPath == item.url ? 'var(--ion-color-light)' : 'var(--ion-color-light)'}"
                    >{{ item.title }}</ion-label
                  >
                </td>
              </tr>
            </table>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>
