<ion-content style="height: 100%;">
  <ion-grid class="ion-padding" style="height: 100%;">
    <ion-row
      class="ion-align-items-end ion-justify-content-center"
      style="height: 30%"
    >
      <ion-col size="auto">
        <ion-text class="ion-text-center ion-padding">
          <h1>Hi !</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row
      class="ion-align-items-end ion-justify-content-center"
      style="height: 30%"
    >
      <ion-img src="assets/images/confused.jpg" style="height: 100%;"></ion-img>
    </ion-row>
    <ion-row class="ion-align-items-end ion-justify-content-center">
      <ion-col size="auto">
        <ion-text color="dark" class="ion-text-center">
          <h1 style="font-weight: bold;">Are you {{ user.username }}?</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-end ion-justify-content-center">
      <ion-col size="auto" class="ion-text-center"
        ><ion-button
          (click)="closeModal(true)"
          color="primary"
          fill="solid"
          shape="round"
          style="width: 100px;"
        >
          Yes
        </ion-button>
      </ion-col>
      <ion-col size="auto" class="ion-text-center"
        ><ion-button
          (click)="closeModal(false)"
          color="primary"
          fill="solid"
          shape="round"
          style="width: 100px;"
        >
          No
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
