<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      style="margin-top: 15px;"
      mode="ios"
      placeholder="Search"
      inputmode="text"
      type="text"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      cancel-button-icon
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed *ngIf="textFilter === ''">
    <ion-row>
      <ion-col *ngFor="let card of cards">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>{{ card.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="textFilter !== ''">
    <ion-item>
      <ion-label>Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button (click)="logout()">
    logout
  </ion-button>
  <ion-button (click)="writeJson()">
    Click me
  </ion-button>
</ion-content>
