<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-item lines="none" padding>
            <ion-avatar slot="start">
              <img src="../../../assets/icon/favicon.png" />
            </ion-avatar>
            <ion-title>Hi Danish!</ion-title>
          </ion-item>
        </ion-col>
        <ion-col size="auto">
          <ion-item lines="none">
            <ion-icon name="pizza"></ion-icon>
            <ion-badge>42</ion-badge>
            <ion-icon name="add" padding-start></ion-icon>
            <ion-badge>42</ion-badge>
          </ion-item>
        </ion-col>
        <ion-col size="auto">
          <ion-item lines="none" (click)="settingsPopover($event)">
            <ion-label>Danish Adam</ion-label>
            <ion-icon name="arrow-dropdown"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-searchbar
      mode="ios"
      placeholder="Search"
      inputmode="text"
      type="text"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      cancel-button-icon
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed *ngIf="textFilter === ''">
    <ion-row>
      <ion-col *ngFor="let card of cards">
        <ion-card style="background: white;" (click)="openModal(card)">
          <img [src]="card.picture" />
          <ion-card-header>
            <ion-card-title
              [color]="card.color"
              style="font-size: 35px; font-weight: bold;"
              >{{ card.title }}</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="textFilter !== ''">
    <ion-item>
      <ion-label>Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
