ion-content {
  --color: #fff;
  --background: none;
  background: #ffffff url(../../../assets/images/background.jpg) no-repeat;
  background-size: 35vmax;
  background-position-x: right;
  background-position-y: bottom;
}
