<ion-header no-border>
  <ion-toolbar>
    
    <ion-grid  class="ion-no-margin">
      <ion-row>
        <ion-col size="auto">
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col>
          <ion-item lines="none" class="ion-padding">
            <ion-avatar slot="start">
              <img [src]="user.avatar" />
            </ion-avatar>
            <ion-title>Hi {{user.username}}!</ion-title>
          </ion-item>
        </ion-col>
        <ion-col size="auto">
          <ion-item lines="none">
            <ion-icon name="trophy"></ion-icon>
            <ion-badge>{{user.trophy}}</ion-badge>
          </ion-item>
        </ion-col>
        <ion-col size="auto">
          <ion-item lines="none" (click)="settingsPopover($event)">
            <ion-label>{{user.fullName}}</ion-label>
            <ion-icon name="arrow-dropdown"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-searchbar
      mode="ios"
      placeholder="Search"
      inputmode="text"
      type="text"
      (ionChange)="onSearchChange($event)"
      [debounce]="250"
      cancel-button-icon
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed *ngIf="textFilter === ''">
    <ion-row>
      <ion-col *ngFor="let card of cards">
        <ion-card style="background: white;" (click)="openModal(card)">
          <img [src]="card.picture" />
          <ion-card-header>
            <ion-card-title
              [color]="card.type"
              style="font-size: 35px; font-weight: bold;"
              >{{ card.title }}</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="textFilter !== ''">
    <!-- <ion-fab-button>
      <input
        (change)="onFileSelected($event)"
        type="file"
        name="file"
        id="file"
        class="fileInput"
      />
      <label for="file"
        ><ion-icon name="document" style="zoom: 2;"></ion-icon
      ></label>
    </ion-fab-button> -->

    <ion-card
      *ngFor="let content of contents | title: textFilter"
      [color]="content.type"
      (click)="openContent(content)"
    >
      <ion-grid style="padding: unset; margin: unset;">
        <ion-row style="padding: unset; margin: unset;">
          <ion-col size="8">
            <ion-card-header>
              <ion-card-title>{{content.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{content.desc}}
            </ion-card-content>
          </ion-col>
          <ion-col class="ion-align-self-center" size="2">
            <div
              style="height: 100%; width: 100%; text-align: right; pointer-events:none"
              [innerHTML]="content.url | safe: 'urlToHtml'"
            ></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
