<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{content.category.toLocaleUpperCase()}} : {{content.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <ion-content>
  <a href="assets\contents\graphic-books\absulum\index.html" target="test1" id="book1"><img
      src="assets\contents\graphic-books\absulum\sickrd.gif"></a>
  <div class="frame">
    <iframe src="assets\images\background.jpg" width="87%" height="100%" name="test1" id="test1"></iframe>
  </div>
</ion-content> -->
<!-- <div style="height: 100%; width: 100%;" [innerHTML]="html | safe: 'html'"></div> -->
<div *ngIf="content.category == 'games'" style="height: 100%; width: 100%;" [innerHTML]="content.url | safe: 'urlToHtml'"></div>
<ion-content *ngIf="content.category == 'e-book'" >
  <div id="pdf-viewer"></div>
</ion-content>
<ion-content *ngIf="content.category == 'graphic-book'">
  <div style="zoom: 1.5;" [innerHTML]="html | safe: 'html'"></div>
</ion-content>
<!-- <div id="my-target-element"></div> -->